version: '3.4'

services:
  DBookStore.Client.Api:
    image: dbookstore.client.api
    ports:
      - "5001:5001"
    depends_on:
      - mongo
    network_mode: "host"
  DBookStore.Book.Service:
    image: dbookstore.book.service
    ports:
      - "5001:5001"
    depends_on:
      - mongo
      - DBookStore.Client.Api
    network_mode: "host"
  mongo:
    image: mongo
    ports:
      - "37017-27019"
      - "27017-27019"
    network_mode: "host"
